<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bsi.pontua">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Login"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".CadastroUsuarios">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".Menu3" />
        </activity>

        <activity android:name=".CadastroUsuariosNovoEditar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CadastroUsuarios" />
        </activity>


        <activity android:name=".CadastroEventos">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Menu3" />
        </activity>

        <activity android:name=".CadastroEventosNovoEditar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CadastroEventos" />
        </activity>


        <activity android:name=".CadastroEntidades">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Menu3" />
        </activity>

        <activity
            android:name=".CadastroEntidadesNovoEditar"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CadastroEntidades" />
        </activity>


        <activity android:name=".CadastroItensInspecao">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Menu3" />
        </activity>


        <activity
            android:name=".CadastroItensInspecaoNovoEditar"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CadastroItensInspecao" />
        </activity>


        <activity
            android:name=".Avaliacao"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Menu3" />
        </activity>


        <activity android:name=".ConsultarAvaliacoes">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Menu3" />
        </activity>


        <activity
            android:name=".ConsultarAvaliacoesRel"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ConsultarAvaliacoes" />
        </activity>



        <activity
            android:name=".RelatorioRanking"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Menu3" />
        </activity>


        <activity android:name=".RelatorioRankingRel">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".RelatorioRanking" />
        </activity>



        <activity
            android:name=".AvaliacaoNfc"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Menu3" />
        </activity>


        <activity
            android:name=".AvaliacaoNfcLer"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AvaliacaoNfc" />
            <!--
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />
            -->

        </activity>
        <!--<activity android:name=".StickyNotesActivity" />-->
        <activity android:name=".LoginConfig">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Login" />
        </activity>


        <activity android:name=".Menu3">

        </activity>
    </application>

</manifest>